{% extends "layout.html" %}

{% block content %}
<div class="container">
<h2>{{ title }}.</h2>
<!-- <h3>{{ message }}</h3> -->

<h4>We are <strong>Coast-2-Coast</strong> (Team 39)</h4>
<h4><strong>S</strong>andra, <strong>P</strong>aulina, <strong>A</strong>lejandra, <strong>C</strong>hristina, and <strong>Z</strong>aire.</h4>
    <p>Food insecurity is a big issue and our team believes it doesn't receive enough attention.	
    Our team members understand the power of data science to bring awareness to these type of issues.</p>
<hr><hr/>
<div class="row biodata" style="width: 100%;">
    <div style="width: 30%; float: left;"> 
        <img src="../static/images/sandra.jpg" alt="Sandra">
    </div>
    <div style="margin-left: 40%;"> 
        <h3><a href="https://www.linkedin.com/in/sandra-azubuike-98a825122/">Sandra Azubike </a></h3>
        <h5>Vanderbilt University</h5>
        <h4>The Finisher</h4>
        <h6> "is the mic on?" </h6>
    </div>
</div>
</br>
<div class="row biodata" style="width: 100%;">
    <div style="width: 30%; float: left;"> 
        <img src="../static/images/paulina.jpeg" alt="Paulina">
    </div>
    <div style="margin-left: 40%;"> 
        <h3><a href="https://www.linkedin.com/in/paulinacucalon/">Paulina Cucalon </a></h3>
        <h5>Georgia Institute of Technology</h5>
        <h4> The Storyteller </h4>
        <h6> "a tiny purse" </h6>
    </div>
</div>
</br>
<div class="row biodata" style="width: 100%;">
    <div style="width: 30%; float: left;"> 
        <img src="../static/images/Alejandra.jpeg" alt="Alejandra">
    </div>
    <div style="margin-left: 40%;"> 
        <h3><a href="https://www.linkedin.com/in/magomezh/">M. Alejandra Gomez </a></h3>
        <h5>Georgia Institute of Technology</h5>
        <h4>The MVP</h4>
        <h6> "OMG. OMG. OMG." </h6>
    </div>
</div>
</br>
<div class="row biodata" style="width: 100%;">
    <div style="width: 30%; float: left;"> 
        <img src="../static/images/christina.jpeg" alt="Christina">
    </div>
    <div style="margin-left: 40%;"> 
        <h3><a href="https://www.linkedin.com/in/christina-liu98/">Christina Liu </a></h3>
        <h5>New York University</h5>
        <h4>The Math Nerd</h4>
        <h6> "I'm about to eat" </h6>
    </div>
</div>
</br>
<div class="row biodata" style="width: 100%;">
    <div style="width: 30%; float: left;"> 
        <img src="../static/images/zaire.jpeg" alt="Zaire">
    </div>
    <div style="margin-left: 40%;"> 
        <h3>Zaire Wade</h3>
        <h5>Norfolk State University</h5>
        <h4>The Engineer</h4>
        <h6> "I swear today is a Tuesday" on a Thursday </h6>
    </div>
</div>
</br>
<!-- <div class="row biodata" style="width: 100%;">
    <div style="width: 30%; float: left;"> 
        <img src="../static/images/michael.jpg" alt="Michael Park">
    </div>
    <div style="margin-left: 40%;"> 
        <h3>Michael Park</h3>
        <p>Healthcare worker at Children’s Healthcare of Atlanta at Scottish Rite.</p>
    </div>
</div> -->
</div>

{% endblock %}
